@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1925px;
  width: 85%;
  margin: 0 auto;
}
h1 {
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  font-weight: 400;
}
h5 {
  color: #29b24e;
  font-size: 24px;
}
p {
  font-size: 14px;
  font-weight: 400;
}

/* header */
header {
  padding: 20px 0;
  font-size: 14px;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: #f2f2f2;
  padding: 30px;
  width: 100%;
  box-shadow: 0px 5px 25px 0px #c2c2c24f;
}
.header-container .logo {
  width: 48px;
  height: 48px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #000000e5;
}
.header-btn {
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  background-color: #29b24e;
  color: #ffffff;
  font-size: 14px;
}
.search-btn {
  display: none;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 50%;
}
/* hero-aside container */

.hero-aside {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5%;
  max-height: 751px;
}
aside {
  max-width: 395px;
  width: 90%;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 24px;
  box-shadow: 0px 4px 25px 0px #c2c2c24f;
}
form select,
form h1 {
  margin-top: 10px;
}
form select {
  max-width: 331px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 10px;
  padding: 8px;
}
.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.checkboxes div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkboxes .check-input {
  accent-color: #29b24e;
}
.checkboxes label {
  font-size: 14px;
}

/* hero */

.hero-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.image-container img {
  max-width: 1225px;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 600;
}
.hero-text h4 {
  color: #000000cc;
  margin-top: 10px;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 324px;
  width: 100%;
  background: #f8f8f8cc;
  padding: 15px;
  margin-top: 40px;
  border-radius: 10px;
}
.search-box input {
  border: none;
  width: 100%;
  background: #f8f8f800;
}
.search-box img {
  cursor: pointer;
}
